In [107]:
#Dependencies and Setup
import pandas as pd
from pathlib import Path

In [108]:
#Files to import
schools_data_path = Path("Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_path = Path("Starter_Code/PyCitySchools/Resources/students_complete.csv")

In [109]:
#Read and store as dataframe
schools_df = pd.read_csv(schools_data_path)
student_df = pd.read_csv(student_data_path)

In [110]:
#Merge dataframes and build consolidated dataset

complete_df = pd.merge(student_df, schools_df, how= "left", on= ["school_name"])
print (complete_df.head)

<bound method NDFrame.head of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

DISTRICT SUMMARY

In [111]:
# Calculate the total number of unique schools
school_count = complete_df["school_name"].nunique()
school_count

15

In [112]:
# Calculate the total number of students, using two methods
student_count = complete_df["student_name"].count()
student_count_1= schools_df["size"].sum()
print(student_count)
student_count_1

39170

39170

In [113]:
# Calculate the total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [114]:
# Calculate the average (mean) math score
average_math_score = student_df["math_score"].mean()
average_math_score_1 = average_math_score.round(2)
average_math_score_1

78.99

In [115]:
# Calculate the average (mean) reading score
average_reading_score = student_df["reading_score"].mean()
average_reading_score_1 = average_reading_score.round(2)
average_reading_score_1

81.88

In [116]:
# Passing math percentage , score >= to 70)
passing_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [117]:
# Passing reading percentage, score >= to 70
passing_reading_count = complete_df[(complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/ float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [118]:
# Calculate the percentage of students that passed math AND reading
passing_math_reading_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [209]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total number of schools": [school_count], "Total students" : [student_count],
                                    "Total budget" : [total_budget], "Average Math Score" : [average_math_score_1],
                                    "Average Reading Score": [average_reading_score_1],  "% passing math" : [passing_math_percentage],
                                    "%passing reading" : [passing_reading_percentage], "%passing both" : [overall_passing_rate]})

district_summary
# Formatting


# Display the DataFrame

,Total number of schools,Total students,Total budget,Average Math Score,Average Reading Score,% passing math,%passing reading,%passing both
0,15,39170,24649428,78.99,81.88,74.980853,85.805463,school_name Bailey High School 54.642283...

SCHOOL SUMMARY

In [120]:
# Use the code provided to select all of the school types
school_types = schools_df["type"].nunique()
school_types

2

In [154]:
# Calculate the total student count per school
per_school_counts = complete_df.groupby("school_name")
psc = per_school_counts["student_name"].count()
psc

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [159]:
# Calculate the total school budget and per capita spending per school
per_school_budget = schools_df [["school_name", "budget"]]
per_school_budget

merged_df=pd.merge (psc, per_school_budget, on= "school_name")
merged_df["per capita budget"] =  merged_df["budget"]/merged_df["student_name"]
merged_df

              school_name  student_name   budget  per capita budget
0      Bailey High School          4976  3124928              628.0
1     Cabrera High School          1858  1081356              582.0
2    Figueroa High School          2949  1884411              639.0
3        Ford High School          2739  1763916              644.0
4     Griffin High School          1468   917500              625.0
5   Hernandez High School          4635  3022020              652.0
6      Holden High School           427   248087              581.0
7       Huang High School          2917  1910635              655.0
8     Johnson High School          4761  3094650              650.0
9        Pena High School           962   585858              609.0
10  Rodriguez High School          3999  2547363              637.0
11    Shelton High School          1761  1056600              600.0
12     Thomas High School          1635  1043130              638.0
13     Wilson High School          2283  1319574              578.0
14     Wright High School          1800  1049400              583.0

In [165]:
# Calculate the average test scores per school
per_school_math = 


complete_df.groupby("school_name")
per_school_math["math_score"].mean()

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [163]:
per_school_reading =complete_df.groupby("school_name")
per_school_reading["reading_score"].mean()

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
complete_df["Pass_math"]=complete_df["math_score"]>=70
complete_df1=complete_df.astype({"Pass_math": int})
Stud_pass_math = complete_df1.groupby("school_name")
school_students_passing_math = Stud_pass_math["Pass_math"].sum()
school_students_passing_math

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
complete_df["Pass_reading"]=complete_df["reading_score"]>=70
complete_df1=complete_df.astype({"Pass_reading": int})
Stud_pass_reading = complete_df1.groupby("school_name")
school_students_passing_reading = Stud_pass_reading["Pass_reading"].sum()
school_students_passing_reading

In [222]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [215]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / psc * 100
per_school_passing_reading = school_students_passing_reading / psc * 100
overall_passing_rate = school_students_passing_math_and_reading / psc * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [224]:
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [214]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School_name": [schools_df]})
per_school_summary

                                         School_name
0      School ID            school_name      type...

In [ ]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

HIGHEST PERFORMING SCHOOLS (BY % OVERALL PASSING)

In [226]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(ascending=False)
top_schools.head(5)

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
dtype: float64

BOTTOM PERFORMING SCHOOLS (BY % OVERALL PASSING)

In [228]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = overall_passing_rate.sort_values(ascending=True)
bottom_schools.head(5)

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
dtype: float64

MATH SCORES BY GRADE

In [233]:
# Use the code provided to separate the data by grade
ninth_graders = complete_df[(complete_df["grade"] == "9th")]
tenth_graders = complete_df[(complete_df["grade"] == "10th")]
eleventh_graders = complete_df[(complete_df["grade"] == "11th")]
twelfth_graders = complete_df[(complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_graders.groupby("school_name")
ninth_grade_math_scores = ninth_graders["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling


# Display the DataFrame

ninth_grade_math_scores

78.93565918653576